.container {
  padding: 0 0rem;
}

.btn {
  background: none;
  border: 0;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.main {
  min-height: 60vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frameCards{
  margin-top: 2rem;
  margin-left: 15.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.cards{
  display: flex;
  height: 30rem;
  width: 65%;
}

.fullCard{
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  max-width: 10rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem 1rem 0 0;
}

.card{
  background-color: #1E1E1E !important;
  height: 15rem;
  width: 10rem;
  border-radius: 0 !important;
  background: url(/placeholder.png) 50% 50% no-repeat;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  margin-right: 1rem;
}

.title{
  color: black;
  font-size: 1rem !important;
  margin: 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card:hover,
.card:focus,
.card:active {
  color: #006FFF;
  border-color: #fafafa;
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 720px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
  .cards {
    width: 100%;
    flex-direction: row;
  }
  .container{
    width: 100%;
  }
}
